extends layout

block content
	div#chatroom
		div#online-list-body
			div#online-list-header
				span 在线用户 : 
				span#online-list-counter 
			table.table.table-hover
				tbody#chat-list

		div#separator

		div#chat-body
			div#chat-box
				div#chat-box-header
					h4(style='font-weight:bold;') 系统：欢迎来到聊天室大厅
				div#chat-dynamic
			div#message-box
				input.form-control(type = 'text' placeholder='按下Enter发送消息(支持HTML标签解析)，按下Esc清屏')
			div#chat-btns
				.btn-group.dropup
					button#send-message.btn.btn-primary(style="margin-right: 50px;") 发送消息
					button#send-file.btn.btn-success 发送文件
					button.btn.dropdown-toggle(data-toggle="dropdown" style="margin-right: 100px;")
						span.caret
					ul.dropdown-menu(role='menu' aria-labelledby='dropdown-upload')
						input#file-upload(type="file" name="file")
				button(style='margin-right: 50px;')#clean-box.btn.btn-primary 清屏
				button#logout.btn.btn-danger 登出

