extends layout

block content
	div#login-form
		h2 #{title}
		hr
		div#login-user.form-group
			input.form-control(type='text' placeholder='USERNAME')
		div#login-password.form-group
			input.form-control(type='password' placeholder='PASSWORD')
		div.form-group
			button#btn-login.btn.btn-success.btn-lg SIGNIN
			a(href='/register')
				button#btn-register.btn.btn-success.btn-lg SIGNUP