extends layout

block content
	div#register-form
			h2 #{title}
			hr
			div#register-username.form-group
				input.form-control(type='text' placeholder='USERNAME')
			div#register-password.form-group
				input.form-control(type='password' placeholder='PASSWORD')
			div#register-password-confirm.form-group
				input.form-control(type='password' placeholder='PASSWORD-REPEAT')
			div.form-group
				button#register-apply.btn.btn-success.btn-lg SUBMIT
				a(href='/')
					button#btn-goback.btn.btn-warning.btn-lg CANCEL