.dropdown-menu {
  border: 1px #f4a460 solid !important;
  border-radius: 0px !important;
}
.dropdown span {
  font-weight: bold;
  color: #4cae4c;
}
.table tr td {
  border-top: 1px solid #f4a460 !important;
}
.table tr td span {
  font-weight: bold;
  color: #4cae4c;
}
#chatroom {
  padding: 10px;
}
#separator {
  width: 2%;
  height: 450px;
  display: inline-block;
}
#online-list-header {
  margin-left: auto;
  text-align: center;
}
#online-list-body {
  width: 15%;
  height: 450px;
  overflow: auto;
  overflow-x: hidden;
  display: inline-block;
  background-color: white;
  border: 1px solid #f4a460 ;
}
#chat-body {
  width: 83%;
  height: 470px;
  display: inline-block;
}
#chat-box {
  padding: 10px;
  width: 100%;
  height: 80%;
  border: 1px solid #f4a460;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
#chat-box p:nth-child(odd) {
  background-color: #f4a460;
}
#chat-box .fileBox p:nth-child(odd) {
  background-color: #FFDBDB;
}
#chat-box-header {
  text-align: center;
  border-bottom: 1px solid #f4a460;
}
#message-box {
  width: 100%;
  height: 10%;
  display: inline-block;
}
#message-box input {
  border: 1px solid #f4a460;
}
#chat-btns {
  width: 100%;
  height: 10%;
  display: inline-block;
  text-align: left;
}
#dropdownBtn {
  float: left;
  margin-top: -5px;
}
.dropdown-menu a {
  text-align: center;
  cursor: pointer;
}
.receiveImage {
  max-width: 1000px;
  height: inherit !important;
  width: inherit !important;
}
.fileBox {
  display: block;
}
.fileBox p {
  display: inline-block;
}
.fileBox p a {
  display: inline-block;
  margin: 10px;
}
.fileBox p a img {
  width: 50px;
  height: 50px;
}
.fileBox .progress {
  vertical-align: text-bottom;
}
#send-message {
  border-radius: 4px;
}
#file-upload {
  border-radius: 4px !important;
}

html {
  background-color: #eee8cd;
}
input {
  font-weight: bold !important;
  font-size: 16px !important;
  border-radius: 0px !important;
}
#htmlWrapper {
  background-color: #eee8cd;
}
hr {
  border-top: 1px solid #f4a460 !important;
}
.btn {
  border-radius: 0px !important;
}
.form-group {
  text-align: left;
}
#logoDiv {
  height: 150px;
  width: 40%;
  margin: 0 auto;
}
#logo {
  height: 100%;
  width: 100%;
}
#login-form {
  width: 350px;
  padding: 30px;
  border: 1px #f4a460 solid;
  margin: 0 auto;
  margin-top: 40px;
}
#login-form h2 {
  color: #333;
}
#btn-register {
  float: right;
}

body {
  text-align: center;
  overflow: visible;
}
#page_content {
  margin: 0 auto;
}

#p2pChat-body {
  width: 83%;
  height: 470px;
  display: inline-block;
}
#p2pChat-box {
  padding: 10px;
  width: 100%;
  height: 80%;
  border: 1px solid #f4a460;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
#p2pChat-box p:nth-child(odd) {
  background-color: #f4a460;
}
#p2pMessage-box {
  width: 100%;
  height: 10%;
  display: inline-block;
}
#p2pChat-box-header {
  text-align: center;
  border-bottom: 1px solid #f4a460;
}
#p2pMessage-box input {
  border: 1px solid #f4a460;
}
#p2pChat-btns {
  width: 100%;
  height: 10%;
  display: inline-block;
  text-align: left;
}
#p2p-dropdownBtn {
  float: left;
  margin-top: -5px;
}
.dropdown-menu a {
  text-align: center;
  cursor: pointer;
}

#register-form {
  width: 350px;
  padding: 30px;
  border: 1px #f4a460 solid;
  margin: 0 auto;
  margin-top: 40px;
}
#register-form h2 {
  color: #333;
}
#btn-goback {
  float: right;
}
