#chatroom {
  padding: 10px;
}
#separator {
  width: 2%;
  height: 450px;
  display: inline-block;
}
#online-list-header {
  margin-left: 41px;
  text-align: left;
}
#online-list-body {
  width: 15%;
  height: 450px;
  overflow: auto;
  overflow-x: hidden;
  display: inline-block;
}
#chat-body {
  width: 83%;
  height: 470px;
  display: inline-block;
}
#chat-box {
  padding: 10px;
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
#chat-box p:nth-child(odd) {
  background-color: #eee;
}
#chat-box .fileBox p:nth-child(odd) {
  background-color: #FFDBDB;
}
#message-box {
  width: 100%;
  height: 10%;
  display: inline-block;
}
#chat-btns {
  width: 100%;
  height: 10%;
  display: inline-block;
  text-align: left;
}
#dropdownBtn {
  float: left;
  margin-top: -5px;
}
.dropdown-menu a {
  text-align: center;
  cursor: pointer;
}
.fileBox {
  display: block;
}
.fileBox p {
  display: inline-block;
}
.fileBox p a {
  display: inline-block;
  margin: 10px;
}
.fileBox p a img {
  width: 100px;
  height: 100px;
}
.fileBox .progress {
  vertical-align: text-bottom;
}
.receiveImage {
  height: inherit !important;
  width: inherit !important;
}

#bar1 {
  height: 50px;
}

#login-form {
  width: 350px;
  padding: 30px;
  border: 1px grey solid;
  border-radius: 10px;
  margin: 0 auto;
}
#btn-register {
  margin-left: 50px;
}
#login-form h2 {
  color: #449d44;
}

body {
  text-align: center;
  overflow: visible;
}
#page_content {
  margin: 0 auto;
}

#p2pChat-body {
  width: 83%;
  height: 470px;
  display: inline-block;
}
#p2pChat-box {
  padding: 10px;
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
#p2pChat-box p:nth-child(odd) {
  background-color: #eee;
}
#p2pMessage-box {
  width: 100%;
  height: 10%;
  display: inline-block;
}
#p2pChat-btns {
  width: 100%;
  height: 10%;
  display: inline-block;
  text-align: left;
}
#p2p-dropdownBtn {
  float: left;
  margin-top: -5px;
}
.dropdown-menu a {
  text-align: center;
  cursor: pointer;
}

#register-form {
  width: 350px;
  padding: 30px;
  border: 1px grey solid;
  border-radius: 10px;
  margin: 0 auto;
}
#register-form h2 {
  color: #449d44;
}
#btn-goback {
  margin-left: 50px;
}
